

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}

#header-bar {
    background: rgb(34, 74, 107);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

#header-bar h1 {
    flex-grow: 1;
    margin: 0;
    text-decoration: none;
}

#header-bar h1 a {
    text-decoration: none;
    color: white;
}

.login-button {
    background: rgb(86, 86, 83);
    color: white;
    padding: 0.75rem;
    margin-right: 5%;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 1px 1px 3px 1px black;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

#login-button:hover {
    background: rgb(189, 189, 186);
    color: black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0;
    padding: 0.8rem;
}

#content {
    padding: 1.5rem;
}

.category-container {
    display: flex;
    flex-direction: row;
}

.side-panel {
    background: rgb(222, 228, 232);
    max-width: 25%;
    margin-right: 3rem;
    border: 1px solid grey;
}

.side-panel h2 {
    padding: 0.75rem;
    background: rgb(122, 142, 159);
    border-bottom: 2px solid black;
    color: white;
}

.main-panel {
    flex-grow: 1;
}

.category-items-list {
    padding: 0.1rem;
    list-style: none;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
}

.category-items-list li{
    padding: 0.1rem;
}

.edit-delete-link {
    display: inline;
    font-size: 0.7rem;
}

.edit-delete-link .edit::after {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    content: '|';
}