{% extends "base.html" %}

{% block content %}

<div class="category-container">
    <div class="side-panel">
        <h2>Categories</h2>
        <nav class="vertical-nav">
            <ul>
                {% for category in categories %}
                    <li> 
                        <a href="{{ url_for('category_view', category_name=category.name) }}">{{ category.name }} </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="main-panel">
        {% block category_content %}
        {% endblock %}
    </div>
</div>
    
{% endblock content %}